body {
    background-color: #F6EEE0;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    background-color: #A2805D;
    border: none;
    border-radius: 20px;
}

legend {
    font-size: 70px;
    font-weight: bold;
    color: rgb(80, 66, 47);
    text-shadow: 3px 0 #ebd9c9;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    font-size: 20px;
    /* margin-left:200px; */
    color: rgb(156, 25, 1);
}

input[type=text] {
    width: 41%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=radio] {
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=date] {
    width: 42%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=email] {
    width: 39.3%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=password] {
    width: 41.2%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=password2] {
    width: 37.6%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #a7ad88;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(29, 95, 70);
}

input[type=reset] {
    width: 10%;
    background-color: rgb(243, 118, 96);
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: rgb(223, 70, 43);
}